<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	
	<defaultDocument>
      <files>
        <clear />
        <add value="index.php"/>
      </files>
    </defaultDocument>
	
    <rewrite>
      <rules>

        <!-- 1) Redirect /login to /login.php -->
        <rule name="Redirect /login to login.php" stopProcessing="true">
          <!-- Match if URL path is exactly "login" with no extension -->
          <match url="^login$" ignoreCase="true" />
          <action type="Redirect" url="login.php" redirectType="Permanent" />
        </rule>

        <!-- 2) Redirect admin.php, auth.php, config.php => login.php -->
        <rule name="Redirect admin-auth-config to login" stopProcessing="true">
          <!-- Match the filename if it is admin.php, auth.php, or config.php -->
          <match url="^(admin|auth|config)\.php$" ignoreCase="true" />
          <!-- Redirect them all to login.php -->
          <action type="Redirect" url="login.php" redirectType="Permanent" />
        </rule>

        <!-- Additional rules, if any, can follow here. -->

      </rules>
    </rewrite>
	
	
        <handlers>
            <remove name="FastCGI" />
            <add name="FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Php_7.3.4-nts\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
